@media only screen and (max-width: 600px) {
    .title {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 1400px) {
    .title {
        color: white;
    }
}

.title {
    position: absolute;
    top: 15vh;
    right: 20vw;
    color: black;
}
