@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Begin Phantom Sans */

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* End Phantom Sans */

* {
  box-sizing: border-box;
}

b {
  font-weight: 700;
}

body {
  background: white;
}

.comicHeader {
  color: #fcd1cf;
  font-family: 'Luckiest Guy';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(22px);
  letter-spacing: 12px;
  text-shadow: 0px -2px 0 #212121, 0px -2px 0 #212121, 0px 6px 0 #212121,
    0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121,
    6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121,
    -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121,
    0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, 0.1),
    0 0 6px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.3),
    0 12px 6px rgba(0, 0, 0, 0.2), 0 18px 18px rgba(0, 0, 0, 0.25),
    0 24px 24px rgba(0, 0, 0, 0.2), 0 36px 36px rgba(0, 0, 0, 0.15);
}

.largeRegisterButton:hover > .externalIcon {
  transform: translate(4px, 0px) scale(2);
}

.largeRegisterButton:hover > .assembleRegisterText {
  position: relative;
  left: -4px;
  top: 0px;
}

.largeRegisterButton > .assembleRegisterText {
  position: relative;
  left: 0px;
  top: 0px;
}

.largeRegisterButton,
.largeRegisterButton * {
  transition: 0.2s all;
}

.navMainLink,
.navMainLink * {
  text-decoration: none;
  color: white !important;
  cursor: pointer;
  font-family: 'Space Grotesk' !important;
}
