@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  box-sizing: border-box;
}

b {
  font-weight: 700
}

body {
  background: white;
}

.comicHeader {
  color: #fcd1cf;
  font-family: 'Luckiest Guy';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(22px);
  letter-spacing: 12px;
  text-shadow:   0px -2px 0 #212121,  
                  0px -2px 0 #212121,
                  0px  6px 0 #212121,
                  0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                  6px  0px 0 #212121,
                -6px  0px 0 #212121,
                  6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                  6px -6px 0 #212121,
                -6px  6px 0 #212121,
                  6px  6px 0 #212121,
                -6px  18px 0 #212121,
                  0px  18px 0 #212121,
                  6px  18px 0 #212121,
                  0 19px 1px rgba(0,0,0,.1),
                  0 0 6px rgba(0,0,0,.1),
                  0 6px 3px rgba(0,0,0,.3),
                  0 12px 6px rgba(0,0,0,.2),
                  0 18px 18px rgba(0,0,0,.25),
                  0 24px 24px rgba(0,0,0,.2),
                  0 36px 36px rgba(0,0,0,.15);
}